.features-section {
    background-color: rgb(75, 147, 152);

    .feature-intro {
        padding: 1rem 2rem;
    }

    .feature-container {
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .feature {
            background-color: #ffffff;
            color: #000000;
            text-align: center;
            padding: 2rem;

            .feature__content {
                margin-bottom: 2rem;
            }
        }

        @media screen and (min-width: 1400px) {
            flex-direction: row;
        }
    }

    .link-container {
        padding: 2rem 2rem 3rem;
        text-align: center;
    }
}