.navigation {
  background-color: #333;
  color: white;
  padding: 3rem;
  position: relative;

  .navigation__toggle {
     position: absolute;
     right: 2rem;
     top: 1rem;
     bottom: 0;
     appearance: none;
     width: 35px;
     height: fit-content;
     background-color: transparent;

     @media screen and (min-width: 768px) {
        display: none;
     }
  }

  .navigation__logo {
    position: absolute;
    left: 1rem;
    top: 1rem;
    bottom: 0;
  }

  .navigation__list:target {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #908a8a;
    z-index: 9999;
    left: 0;
    bottom: 0;
    top:0;
    padding: 4rem;
    justify-content: flex-start;
    transition-delay: 0.5s;

    @media screen and (min-width: 768px) {
        display: none;
        
    }
  }

  .navigation__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    justify-content: flex-end;
    transition: height 0.4, width 0.4;
    .navigation__item {
      margin-right: 1rem;
    }

    .navigation__link {
      color: white;
      text-decoration: none;
    }

    @media screen and (min-width: 768px) {
        display: flex;
    }
  }



  a:hover {
    text-decoration: underline;
  }

  .clear-modal {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    font-size: 3rem;

    @media screen and (min-width: 768px) {
        display: none;
    }
  }
}
