 :root {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #ffff;
  }

  @import '_appHeader';
  @import '_appCta';
  @import '_appCtaLearnMoreSection';
  @import '_appFeatureSection';